<!DOCTYPE html>
<html lang="en">

<head>
 
    {% include head.html %}
 
</head>

<body> 
   
    {% if page.url == "/" %}
      {% assign state = "home-page" %}
    {% else %}
      {% assign state = "" %}
    {% endif %}
  
  <div id="wrapper" class="{{ state }}">

      <!-- start header -->

    {% include navigation.html %}

      <!-- end header -->

      {{ content }}

      <!-- footer -->

    {% include footer.html %}
  </div>
  <a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up active"></i></a>
  
    {% include scripts.html %}

</body>

</html>